# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
# build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store

TEMP_*/
TEMP_*

##Front-end project sync filter files
easy-flow/.DS_Store
easy-flow/node_modules/
easy-flow/npm-debug.log*
easy-flow/yarn-debug.log*
easy-flow/yarn-error.log*

#Sync folders, but not the contents of the folder
dir_dataset/*
!dir_dataset/.gitkeep
dir_knowledge/*
!dir_knowledge/.gitkeep
dir_knowledge_temp_upload_kg
dir_knowledge_temp_upload_table
dir_knowledge_temp_upload_text
dir_model/*
!dir_model/.gitkeep

dir_pipeline_data/**/*.txt

# Streamlining components
kninjllm/llm_retriever/BGE/*/
!kninjllm/llm_retriever/BGE/DsConfig

kninjllm/llm_retriever/DPR/*/
!kninjllm/llm_retriever/DPR/DsConfig

kninjllm/llm_retriever/contriever/*/
!kninjllm/llm_retriever/contriever/DsConfig
!kninjllm/llm_retriever/contriever/src

kninjllm/llm_retriever/E5/*/
!kninjllm/llm_retriever/E5/DsConfig

kninjllm/llm_retriever/BERT/*/
!kninjllm/llm_retriever/BERT/DsConfig


kninjllm/llm_linearizer/Verbalizer/data/*
!kninjllm/llm_linearizer/Verbalizer/data/train.source
!kninjllm/llm_linearizer/Verbalizer/data/train.target
kninjllm/llm_linearizer/Verbalizer/lightning_logs
kninjllm/llm_linearizer/Verbalizer/temp_data_verbalizer_predict


# Components that are temporarily out of sync
kninjllm/llm_generator/base_generator/OTT-QA
kninjllm/llm_generator/base_generator/ircot
kninjllm/llm_generator/base_generator/UDT_QA
kninjllm/llm_generator/base_generator/chain-of-knowledge
kninjllm/llm_generator/base_generator/chain-of-knowledge-new
kninjllm/llm_generator/base_generator/cok_github
kninjllm/llm_generator/base_generator/JS
kninjllm/llm_retriever/multi_kg
kninjllm/llm_retriever/multi_table
kninjllm/llm_retriever/multi_text_to_sql
kninjllm/llm_controller/control_tableQA.py
kninjllm/llm_controller/control_text_to_sql.py
kninjllm/llm_controller/control_webqsp.py